name: dagger
on:
  push:

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get dagger
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: "0.19.10"
      - name: Check code
        run: dagger checks
        env: 
          DAGGER_CLOUD_TOKEN: ${{ secrets.DAGGER_CLOUD_TOKEN }}